* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #001;
    padding: 0px;
    margin: 0px;
}

#headerBar {
    height: 70px;
    background-color: #113;
    border-bottom: 3px solid #039;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#headerBar button {
    height: 30px;
    width: 100px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #07f

}

button:hover {
    border-color: #49f
}

button:active {
    transform: translate3D(2px, 2px, 0);
}

.inputWrapper {
    position: relative;
    width: 100px;
    height: 60px;
    overflow: hidden;
}

.inputWrapper .inputLabel {
    position: absolute;
    top: 23px;
    left: 12px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none;
}

.inputWrapper input {
    position: absolute;
    top: 20px;
    width: 100px;
    border: 0;
    height: 50%;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(150, 150, 150, .1);
    box-shadow: inset 0 -1px 0 #07f;
    transition: all .15s ease;
}

.inputWrapper input:hover {
    background-color:  rgba(200, 200, 200, .1);
    box-shadow: inset 0 -1px 0 #49f;
}

.inputWrapper input:not(:placeholder-shown) + .inputLabel {
    transform: translate3d(-10px, -20px, 0) scale(0.75);
}

.inputWrapper input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #07f;
}

.inputWrapper input:focus + .inputLabel {
    color: #07f;
    transform: translate3d(-10px, -20px, 0) scale(0.75);
}

.inputWrapper input:focus + #inputLabel + .focus-bg {
    transform: scaleX(1);
    transition: all .1s ease;
}

.btnAction {
    height: 100px;
    width: 40vw;
    margin-left: 6.66vw;
    position: relative;
    top: 50px;
}

table {
    text-align: left;
}

#tblThrow th {
    padding-right: 30px;
}

.tblHeaderCurrent {
    height: 100px;
    font-size: 30px;
}

#tblScore {
    position: relative;
    top: 100px;
}

.cellName, .cellPoints, .cellHighest {
    width: 95px;
    text-align: center;
}

.cellName {
    text-align: left;
    height: 50px;
}