* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #001;
    padding: 0px;
    margin: 0px;
}

#headerBar {
    height: 70px;
    background-color: #113;
    border-bottom: 3px solid #039;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #07f

}

button:hover {
    border-color: #49f
}

button:active, a:active {
    transform: translate3D(2px, 2px, 0);
}

.inputWrapper {
    position: relative;
    width: 100px;
    height: 60px;
    overflow: hidden;
}

.inputWrapper .inputLabel {
    position: absolute;
    top: 23px;
    left: 12px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none;
}

.inputWrapper input {
    position: absolute;
    top: 20px;
    width: 100px;
    border: 0;
    height: 50%;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(150, 150, 150, .1);
    box-shadow: inset 0 -1px 0 #07f;
    transition: all .15s ease;
}

.inputWrapper input:hover {
    background-color:  rgba(200, 200, 200, .1);
    box-shadow: inset 0 -1px 0 #49f;
}

.inputWrapper input:not(:placeholder-shown) + .inputLabel {
    transform: translate3d(-10px, -20px, 0) scale(0.75);
}

.inputWrapper input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #07f;
}

.inputWrapper input:focus + .inputLabel {
    color: #07f;
    transform: translate3d(-10px, -20px, 0) scale(0.75);
}

.inputWrapper input:focus + #inputLabel + .focus-bg {
    transform: scaleX(1);
    transition: all .1s ease;
}

.btnAction {
    height: 100px;
    width: 40vw;
    margin-left: 6vw;
    position: relative;
    top: 50px;
}

table {
    text-align: left;
}

#tblThrow th {
    padding-right: 30px;
}

.tblHeaderCurrent {
    height: 100px;
    font-size: 30px;
}

#tblScore {
    position: relative;
    top: 100px;
}

.cellName, .cellPoints, .cellHighest {
    width: 95px;
    text-align: center;
}

.cellName {
    text-align: left;
    height: 50px;
}

.detectionActive {
    color: #5a5
}

.detectionInActive {
    color: #a55
}

.hamburger {
    position: relative;
    margin-right: 20px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #07F;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    width: 133%;
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    width: 133%;
    transform: rotate(-45deg) translate(6px, -6px);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -252px;
    width: 250px;
    height: 100%;
    background-color: #113;
    border-right: 2px solid #039;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.side-menu a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}

.side-menu a:hover {
    background-color: #039;
}

.side-menu.active {
    left: 0;
}